@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #222327
}

body{
    background: var(--clr);
}

header{
    display: flex;
    padding: 30px 15px 30px;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
}

.navigation{
    position: relative;
    width: 80px;
    height: 350px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 320px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 200px;
    height: 60px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon{
    transform: translateX(58px);
}

.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(-3px);
}

.navigation ul li.active a .text{
    opacity: 1;
}

.indicator{
    position: absolute;
    left: 80%;
    width: 70px;
    height: 70px;
    background: #fd5329;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0px;
    height: 0px;
    height: #f00;
    border-top-right-radius: 20px;
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateY(calc(60px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateY(calc(60px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateY(calc(60px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateY(calc(60px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateY(calc(60px * 4));
}

.toggle{
    display: none;
}

@media only screen and (max-width: 950px){
    .toggle{
        position: fixed;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        background: #fd5329;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toggle.active{
        background:#fd3029;
    }
    .toggle ion-icon{
        position: absolute;
        color:#fff;
        font-size: 34px;
        display: none;
    }
    .toggle ion-icon.open,
    .toggle.active ion-icon.close{
        display: block;
    }
    .toggle ion-icon.close,
    .toggle.active ion-icon.open{
        display: none;
    }
    .navigation{
        transform: translateX(-150px);
        transition: 0.5s;
    }
    .navigation.active{
        transform: translateX(0px);
        transition: 0.5s;
    }
}
